#u937
{
	background-color: #000000;
}

#u929
{
	background-color: #00FF00;
	position: relative;
}

#u930
{
	background-color: #00FFFF;
	position: relative;
}

#u931
{
	background-color: #FBB03B;
	position: relative;
}

#u932
{
	background-color: #ED1C24;
	position: relative;
}

#u933
{
	background-color: #39B54A;
	position: relative;
}

#u934
{
	background-color: #29ABE2;
	position: relative;
}

#u935
{
	background-color: #006837;
	position: relative;
}

#u936
{
	border-width: 1px;
	border-style: solid;
	border-color: #D4145A;
	background-color: #603813;
	position: relative;
}

